/* footer{
    display: flex;
} */

footer div{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

footer div img{
    width: 50px;
    /* height: 30%; */
}

li{
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-auto-rows: minmax(150px, auto);
    grid-auto-flow: column;
    background-color: aliceblue;
}