#herosection{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-template-columns: auto auto;
    grid-auto-rows:minmax(auto,250px);
    justify-content: center;
    background-color: #495E57;
    /* grid-template-columns: 60% 40%;
    grid-template-rows: 250px 250px;  */
    object-fit: contain;
}

.grid-item{
    padding: 20px;
}

#img{

    object-fit: contain;
    /* display: flex; */
}
h1{
    color: #F4CE14;
}

h1,h2{
    font-family: markazi;
}
h2,p{
    color: white;
}

#img img{
    /* display: flex; */
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}